<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Accesors List</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>

	{% if user.isAdmin %}
	<h1>Hi {{user.username}}</h1>
	<p><a href="/logout">Logout</a></p>

	<section class="row"></section>
	<section class="row">
		<div class="row col-sm-2"></div>
		<div class="container col-sm-10 text-center">
			<p><a href="/accesor/Signup">Add Accesor</a></p>
			<h1>Accesors List</h1>
			<table class="table text-center">
		        <thead>
		            <th>Username</th>
		            <th class="text-center">Email</th>
		            <th class="text-center">Phone Number</th>
		             
		            
		            
		        </thead>
		        <tbody>
				
				 

		         {% for each in users %}
		        
		            <tr>
		                <td class="active">{{ each.username | upcase }}</td>
		                <td class="info">{{ each.email | upcase}}</td>
		                <td class="success">{{ each.phonenumber | upcase}}</td>
		                <td class="info"><a href="/accesor/{{each._id}}/delete"><p>Delete Accesor</p></a></td>
		                
		            </tr>
		            
		            
		            {% endfor %}
		        </tbody>
	    	</table>
	    	
		<div class="row col-sm-2"></div>
	</section>
	<section class="row"></section>
	{% else %}
	<section class="row"></section>
	<section class="row">
		<div class="row col-sm-2"></div>
		<div class="jumbotron col-sm-10 text-center">
			<p>If you are an admin <a href="/admin/login">Login</a>to Continue</p>
			<p>If you are an accesor,please <a href="/logout">Click here</a></p>
			<p>If you are neither <a href="/">Go Home</a></p>
			
		<div class="row col-sm-2"></div>
	</section>
	<section class="row"></section>
	
</body>
</html>