<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IkoFundi | complete tasks</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/bootstrap-3.3.6-dist/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <link rel="stylesheet" href="/bootstrap-3.3.6-dist/js/bootstrap.min.js">
    <!-- css styling -->
    <link rel="stylesheet" type="text/css" href="/styles/taskform.css" />
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" id="nav">
        <br>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" id="logo" href="/"><img class="img-responsive" src="/images/logo.png" alt="logo"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- <li></li> -->
                    <li><a href="/tasks/admin/ongoing"><span id="navtext">Go back</span></a></li>
                    <li><a href="/tasks/admin/senttofundi"><span id="navtext">Tasks sent to fundi</span></a></li>
                    <li><a href="/logout"><span >logout</span></a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <br>
    <section class="row text-center">
        {% if user.isAdmin %}
        <h1>Hi {{user.username}}</h1>
        <br>
        <div class="container-fluid text-center">
            <table class="table text-center">
                <thead class="text-center">
                    <th class="text-center">Fundi that picked task</th>
                    <th class="text-center">Job Id</th>
                    <th class="text-center">Category</th>
                    <th class="text-center">Firstname</th>
                    <th class="text-center">Lastname</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Location</th>
                    <th class="text-center">phonenumber</th>
                    <th class="text-center">Availability</th>
                    <th class="text-center">Description</th>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr>
                        <td class="info">{{ task.fundiThatPickedThis | upcase}}</td>
                        <td class="info">{{ task.jobId | upcase}}</td>
                        <td class="active">{{ task.category | upcase }}</td>
                        <td class="success">{{ task.firstname | upcase}}</td>
                        <td class="info">{{ task.lastname | upcase}}</td>
                        <td class="info">{{ task.email | upcase}}</td>
                        <td class="info">{{ task.location | upcase}}</td>
                        <td class="info">{{ task.phoneNumber | upcase}}</td>
                        <td class="info">{{ task.availability | upcase}}</td>
                        <td class="info">{{ task.description | upcase}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
           
    </section>
    {% else %}
    <section class="row"></section>
    <section class="row">
        <div class="row col-sm-2"></div>
        <div class="jumbotron col-sm-10 text-center">
            <p>If you are an accesor <a href="/accesor/login">Login</a>to Continue</p>
            <p>If you are admin,please <a href="/logout">Click here</a></p>
            <p>If you are neither <a href="/">Go Home</a></p>
            <div class="row col-sm-2"></div>
    </section>
    <section class="row"></section>
    {%endif%}
    <section class="row"></section>
</body>

</html>
