<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin dashboard</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
    {% if user.isAdmin == true %}
    <h1>Hi {{user.username}}</h1>
    <p><a href="/logout">Logout</a></p>
    <p><a href="/tasks/admin">View tasks</a></p>
    <p><a href="/accesorslist">Manage Accesors</a></p>
    <p><a href="">Manage Technicians</a></p>
    {% else %}
    <section class="row"></section>
    <section class="row">
        <div class="row col-sm-2"></div>
        <div class="jumbotron col-sm-10 text-center">
            <p>If you are an accesor <a href="/accesor/login">Login</a>to Continue</p>
            <p>If you are admin,please <a href="/logout">Click here</a></p>
            <p>If you are neither <a href="/">Go Home</a></p>
            <!-- <p>You are not an accesor. Pliz </p><a href="/logout">Log out</a><br><p>to continue</p><br>
			<a href="/accesor/Signup">Sign up</a> -->
            <div class="row col-sm-2"></div>
    </section>
    <section class="row"></section>
</body>

</html>
