<!DOCTYPE html>
<html>

<head>
    <title>Sign Up</title>
</head>

<body>

	<p>{{error}}</p>
     <form action="/admin/Signup" method="post">
        <label for="">Username</label>
        <input type="text" name="username"  placeholder="Username">
        <label for="">Email</label>
        <input type="email" name="email"  placeholder="Email">
        <label for="">PHONE NUMBER</label>
        <input type="text" name="phonenumber" value="+254"  placeholder="Phonenumber">
        <label for="">Password</label>
        <input type="password" name="password"  placeholder="Password">
        <button type="submit">signup</button>
    </form>
</body>

</html>
