





<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img alt="Home Fixer" src="...">
      </a>
      <button type="button" class="btn btn-default navbar-btn"><a href="/taskform">Book Task</a></button>
    </div>
  </div>
</nav>


<!-- <nav>
	<ul>
		<li><a href="/movies">Movies</a></li>
		<li><a href="/movies/new">Add Movie</a></li>
		{% if user %}
		<li><a href="/logout">Logout</a></li>
		{% endif %}
	</ul>
</nav> -->