<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IkoFundi | Applicant Details</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/bootstrap-3.3.6-dist/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <link rel="stylesheet" href="/bootstrap-3.3.6-dist/js/bootstrap.min.js">
    <!-- css styling -->
    <link rel="stylesheet" type="text/css" href="/styles/taskform.css" />
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
    <link rel="stylesheet" type="text/css" href="/styles/technicianhire.css" />
</head>

<body>
    {% if user.isAdmin %}
    <nav class="navbar navbar-default navbar-fixed-top" id="nav">
        <!-- <img id="logo" src="/images/new.png" alt=""> -->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" id="logo" href="/"><img class="img-responsive" src="/images/logo.png" alt="logo"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- <li></li> -->
                    <li><a href="/logout"><span id="navtext" class="text-center">Log out</span></a></li>
                    <li><a href="/technicians"><span id="navtext">Technicians</span></a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <section class="row">
        <p>{{error}}</p>
        <div class="row col-sm-4"></div>
        <div class="jumbotron col-sm-4 text-center">
            <form action="/technicians" method="post">
                <p>fill the empty inputs</p>
                <br>
                <label for="category">CATEGORY</label>
                <input type="text" name="category" value="{{technician.category | upcase}}" readonly required validate>
                <br>
                <br>
                <label for="allcategory">All</label>
                <input type="checkbox" name="allCategory">
                <br>
                <br>
                <label for="">FIRST NAME</label>
                <input type="text" name="firstname" value="{{technician.firstName | upcase}}" readonly required validate>
                <br>
                <br>
                <label for="">LAST NAME</label>
                <input type="text" name="lastname" value="{{technician.lastName | upcase}}" readonly required validate>
                <br>
                <br>
                <label for="">PHONE NUMBER</label>
                <input type="text" name="phoneNumber" value="{{technician.phoneNumber | upcase}}" readonly required validate>
                <br>
                <br>
                <label for="">PHONE NUMBER 2</label>
                <input type="text" name="phoneNumber2" value="{{technician.phoneNumber2 | upcase}}" readonly required validate>
                <br>
                <br>

                <label for="location">
                    Location</label>
                <br>
                <label for="">LOCATION</label>
                <input type="text" name="location" value="{{technician.location | upcase}}" readonly required validate>
                <br>
                <br>
                <label for="alllocation">All</label>
                <input type="checkbox" name="allLocation">
                <br>
                <br>
                <label for="email">Email(optional)</label>
                <input type="text" name="email" placeholder="enter Email" validate>
                <br>
                <br>
                <label for="Idnumber">Id Number</label>
                <input type="text" name="Idnumber" size="8" title="enter 8 digits" placeholder="Id number" pattern="^\d{4}\d{4}$" required validate>
                <br>
                <br>
                <button type="submit">Add as Technician</button>
            </form>
        </div>
        <div class="row col-sm-4"></div>
    </section>
    {% else %}
    <section class="row"></section>
    <section class="row">
        <div class="row col-sm-2"></div>
        <div class="jumbotron col-sm-10 text-center">
            <p>If you are an accesor <a href="/accesor/login">Login</a>to Continue</p>
            <p>If you are admin,please <a href="/logout">Click here</a></p>
            <p>If you are neither <a href="/">Go Home</a></p>
            <div class="row col-sm-2"></div>
    </section>
    <section class="row"></section>
    {%endif%}
</body>

</html>
