<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Technicians</title>
   <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/bootstrap-3.3.6-dist/css/bootstrap.min.css">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet"  href="/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <link rel="stylesheet"  href="/bootstrap-3.3.6-dist/js/bootstrap.min.js">
    <!-- css styling -->
</head>

<body>
<p><a href="/admin/dashboard">Back</a></p>
    <h1 class="text-center">Technicians Listing</h1>
    <table class="table">
        <thead>
            <th>Category</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Id Number</th>
            <th>Phone number</th>
            <th>Email</th>
            
            
        </thead>
        <tbody>
         {% for technician in technicians %}
            <tr>
                <td class="active"><a href="/technicians/{{technician._id}}">{{ technician.category | upcase }}</a></td>
                <td class="success">{{ technician.firstName | upcase}}</td>
                <td class="info">{{ technician.lastName | upcase}}</td>
                <td class="info">{{ technician.idNumber | upcase}}</td>
                <td class="info">{{ technician.phoneNumber | upcase}}</td>
                <td class="info">{{ technician.email | upcase}}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><a href="/technicians/new">Add technician</a></p>
 
</body>

</html>