<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Technician</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
    <section class="row">{% include 'navbar' %}</section>
    <section class="row">
        <div class="row col-sm-4"></div>
        <div class="jumbotron col-sm-4 text-center">
            <form action="/technicians" method="post">
                <label for="category">Category</label>
                <input type="text" name="category" placeholder="enter Category" required validate><br><br>
                <label for="firstname">First Name</label>
                <input type="text" name="firstname" placeholder="enter First Name" required validate><br><br>
                <label for="lastname">Last Name</label>
                <input type="text" name="lastname" placeholder="enter Last Name" required validate><br><br>
                <label for="Idnumber">Id Number</label>
                <input type="text" name="Idnumber" placeholder="enter Id number" required validate><br><br>
                <label for="phoneNumber">Phone Number</label>
                <input type="text" name="phoneNumber" placeholder="enter Phone number" value="+254" required validate><br><br>
                <label for="email">Email</label>
                <input type="text" name="email" placeholder="enter Email" required validate><br><br>
                <button type="submit">Add Technician</button>
            </form>
        </div>
        <div class="row col-sm-4"></div>
    </section>
</body>

</html>
