<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IkoFundi | {{task.id}}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/bootstrap-3.3.6-dist/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <link rel="stylesheet" href="/bootstrap-3.3.6-dist/js/bootstrap.min.js">
    <!-- css styling -->
    <link rel="stylesheet" type="text/css" href="/styles/taskform.css" />
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" id="nav">
        <!-- <img id="logo" src="/images/new.png" alt=""> -->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" id="logo" href="/"><img class="img-responsive" src="/images/logo.png" alt="logo"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <!--   <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul> -->
                <ul class="nav navbar-nav navbar-right">
                    <!-- <li></li> -->
                    <li><a href="/logout"><span id="navtext" class="text-center">Logout</span></a></li>
                    <li><a href="/tasks/accesor/unaccesed"><span id="navtext" class="text-center">Unacessed tasks</span></a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <br>
     {% if user.isAccesor %}
    <section class="row">
        <div class="row col-sm-4"></div>
        <div class="jumbotron col-sm-4 text-center">
            <form action="/tasks/{{task._id}}/assesorviewtask" method="post">
                <label for="">FIRST NAME</label>
                <input type="text" name="firstname" value="{{task.firstname | upcase}}" readonly required validate>
                <br>
                <br>
                <label for="">LAST NAME</label>
                <input type="text" name="lastname" value="{{task.lastname | upcase}}" readonly required validate>
                <br>
                <br>
                <label for="">EMAIL</label>
                <input type="email" name="email" value="{{task.email}}" readonly required validate>
                <br>
                <br>
                <label for="">LOCATION</label>
                <input type="text" name="location" value="{{task.location | upcase}}" readonly required validate>
                <br>
                <br>
                <label for="">PHONE NUMBER</label>
                <input type="text" name="phoneNumber" value="{{task.phoneNumber | upcase}}" readonly required validate>
                <br>
                <br>
                <label for="">CATEGORY</label>
                <input type="text" name="category" value="{{task.category | upcase}}" readonly required validate>
                <br>
                <br>
                <label for="">AVAILABILITY</label>
                <input name="availability" value="{{task.availability | upcase}}" required readonly validate>
                <br>
                <br>
                <label for="">DESCRIPTION</label>
                <input name="description" value="{{task.description | upcase}}" required readonly validate>
                <br>
                <br>
                 <label for="">Quoted Price</label>
                <input name="quotedPrice" value="{{task.quotedPrice | upcase}}" required readonly validate>
                <br>
                <br>
                <label for="">DEPOSIT PAID(number without comma)</label>
                <input type="text" name="quotedPricePaid" pattern="^[0-9]{1,10}$" placeholder="Enter Price" required validate>
                <br>
                <br>
                <label for="">DEPOSIT MPESA CODE</label>
                <input type="text" name="quotedPricePaidCode" placeholder="Enter Code" required validate>
                <br>
                <br>
                <button type="submit">SUBMIT</button>
            </form>
        </div>
        <div class="row col-sm-4"></div>
    </section>
    <section class="row"></section>
    {% else %}
    <section class="row"></section>
    <section class="row">
        <div class="row col-sm-2"></div>
        <div class="jumbotron col-sm-10 text-center">
            <p>If you are an accesor <a href="/accesor/login">Login</a>to Continue</p>
            <p>If you are admin,please <a href="/logout">Click here</a></p>
            <p>If you are neither <a href="/">Go Home</a></p>
            <div class="row col-sm-2"></div>
    </section>
    <section class="row"></section>
</body>

</html>
